@{
    ViewBag.Title = "Change";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    <style>
        .eye_icon {
            position: absolute;
            right: 12px;
            top: 50px;
        }
    </style>
}
<div id="toast">
    @if (ViewBag.UpdateInforMg != null)
    {
        <script>
            $(document).ready(function () {
                $("toast").load(checkGeneral());
            })</script>
        <input type="hidden" class="success" value="@ViewBag.EditMg" />
    }
    else if (ViewBag.UpdateInforErrorMg != null)
    {
        <script>
            $(document).ready(function () {
                $("toast").load(checkGeneralError());
            })</script>
        <input type="hidden" class="success" value="@ViewBag.ErrorEditMg" />
    }
</div>
<script src="~/Content/Script/Function.js"></script>
<div class="container">
    <div class="form_poc">
@using (Html.BeginForm("Change", "Account", FormMethod.Post, new { @class = "form_edits" }))
{
    @Html.AntiForgeryToken()


    <div class="space_input_login">
    <p>Current Password</p>
    <input class="input_edits form-control txt--input password" oninput="checkPass()" name="password" id="passcur" type="password"/>
    <span class="eye_icon" onclick="togglePasswordCurVisibility()">
    <span id="showIconc" style="display:none;"><i class="fa-solid fa-eye"></i></span>
    <span id="hideIconc"><i class="fa-solid fa-eye-slash"></i></span>
    </span>
    </div>
    <div class="space_input_login">
        <p>New Password</p>
        <input class="input_edits form-control txt--input newpass" name="New" oninput="checkPassNew()" id="New" type="password" />
        <span class="eye_icon" onclick="togglePasswordNewVisibility()">
            <span id="showIconn" style="display:none;"><i class="fa-solid fa-eye"></i></span>
            <span id="hideIconn"><i class="fa-solid fa-eye-slash"></i></span>
        </span>
    </div>
    <div class="space_input_login">
        <p>Confirm Password</p>
        <input class="input_edits form-control txt--input confirm" name="confirm" oninput="checkConfirm();" id="newc" type="password"/>
        <span class="eye_icon" onclick="togglePasswordNewconVisibility()">
            <span id="showIconpc" style="display:none;"><i class="fa-solid fa-eye"></i></span>
            <span id="hideIconpc"><i class="fa-solid fa-eye-slash"></i></span>
        </span>
    </div>
    <div class="space_input_login">
    <button type="submit" name="signin" class="btn--dark--model btn--login mt-3">Save Change</button>
    </div>
}
    </div>
</div>
<script>
    function togglePasswordCurVisibility() {
        var passwordCur = document.getElementById("passcur");
        var showIconc = document.getElementById("showIconc");
        var hideIconc = document.getElementById("hideIconc");
        if (passwordCur.type === "password") {
            passwordCur.type = "text";
            showIconc.style.display = "none";
            hideIconc.style.display = "inline";
        } else {
            passwordCur.type = "password";
            showIconc.style.display = "inline";
            hideIconc.style.display = "none";
        }
    }
    function togglePasswordNewVisibility() {
        var newc = document.getElementById("New");
        var showIconn = document.getElementById("showIconn");
        var hideIconn = document.getElementById("hideIconn");
        if (newc.type === "password") {
            newc.type = "text";
            showIconn.style.display = "none";
            hideIconn.style.display = "inline";
        } else {
            newc.type = "password";
            showIconn.style.display = "inline";
            hideIconn.style.display = "none";
        }
    }
    function togglePasswordNewconVisibility() {
        var newcc = document.getElementById("newc");
        var showIconpc = document.getElementById("showIconpc");
        var hideIconpc = document.getElementById("hideIconpc");
        if (newcc.type === "password") {
            newcc.type = "text";
            showIconpc.style.display = "none";
            hideIconpc.style.display = "inline";
        } else {
            newcc.type = "password";
            showIconpc.style.display = "inline";
            hideIconpc.style.display = "none";
        }
    }
</script>