
@{
    ViewBag.Title = "ChangeFromForget";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div id="toast">
    @if (ViewBag.ChangeFromErrorMg != null)
    {
        <script>
            $(document).ready(function () {
                $("toast").load(checkChangeFromErrorMg());
            })
        </script>
        <input type="hidden" class="fail" value="@ViewBag.ChangeFromErrorMg" />
    }
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="title--veri">Change Password</p>
        </div>
    </div>
    <div class="form_poc">
        @using (Html.BeginForm("ChangeFromForget", "Account", FormMethod.Post, new { @class = "form_edits" , @onsubmit = "return checkForget();" }))
        {
            @Html.AntiForgeryToken()
        <div class="space_input_login">
            <p>New Password</p>
            <input type="password" placeholder="At least 8 characters" class="input_edits form-control txt--input news" id="news" name="news" />
            <span class="eye-icon--news--forget" onclick="togglePasswordVisibilityChangeNews()">
                <span id="showIcon11"><i class="fa-solid fa-eye"></i></span>
                <span id="hideIcon11" style="display:none;"><i class="fa-solid fa-eye-slash"></i></span>
            </span>
        </div>
        <div class="space_input_login">
            <p>Confirm Password</p>
            <input type="password" placeholder="Matches new password" class="input_edits form-control txt--input confirm" id="confirm" name="confirm" />
            <span class="eye-icon--confirm---forget" onclick="togglePasswordVisibilityChangeConfirm()">
                <span id="showIcon12"><i class="fa-solid fa-eye"></i></span>
                <span id="hideIcon12" style="display:none;"><i class="fa-solid fa-eye-slash"></i></span>
            </span>
        </div>
            <div class="space_input_login">
                <button type="submit" name="signin" class="btn--dark--model btn--login mt-3">Change</button>
            </div>
        }
    </div>
</div>
<script src="~/Content/Script/togglePasswordVisibility.js"></script>
<script src="~/Content/Script/Function.js"></script>
<script src="~/Content/Script/message.js"></script>
