
@{
    ViewBag.Title = "Forget";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div id="toast">
    @if (ViewBag.CheckMailError != null)
    {
        <script>
            $(document).ready(function () {
                $("toast").load(checkCheckMailError());
            })
        </script>
        <input type="hidden" class="fail" value="@ViewBag.CheckMailError" />
    }
</div>
<div class="sign_layout" id="displaysignin" data-aos="fade-right" data-aos-duration="1000">
    <div class="title_sign">
        <ul class="para_title">
            <li><a class="confirm_space1" id="signin" style="color: black;">Forget Password</a></li>
        </ul>
    </div>
    <div class="form_poc">
        <form action="/Account/forget" method="post" class="form_edits" onsubmit="return checkEmail();">
            <div>
                <p>EMAIL<red style="color: red">*</red></p>
                <input type="text" class="input_edits form-control txt--input emailID" placeholder="Email" oninput="checkEmail();" name="emailID" />
                <button type="submit" ID="btnForgotPassword" name="signin" class="btn--dark--model btn--login mt-3">Send</button>
            </div>
        </form>
    </div>
</div>
<script src="~/Content/Script/Function.js"></script>
<script src="~/Content/Script/message.js"></script>