
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    <style>
        .eye_icon {
            position: absolute;
            right: 12px;
            top: 50px;
        }
    </style>
}
<div id="toast">
    @if (ViewBag.RegisterMg != null)
    {
        <script>
            $(document).ready(function () {
                $("toast").load(checkRegister());
            })
        </script>
        <input type="hidden" class="success" value="@ViewBag.RegisterMg" />
    }
    else if (ViewBag.RegisterErrorMg != null)
    {
        <script>
            $(document).ready(function () {
                $("toast").load(checkRegisterError());
            })
        </script>
        <input type="hidden" class="fail" value="@ViewBag.RegisterErrorMg" />
    }
    else if (ViewBag.ChangeFromMg != null)
    {
        <script>
            $(document).ready(function () {
                $("toast").load(checkChangeFrom());
            })
        </script>
        <input type="hidden" class="success" value="@ViewBag.ChangeFromMg" />
    }
    else if (ViewBag.LoginError != null)
    {
        <script>
            $(document).ready(function () {
                $("toast").load(checkLoginError());
            })
        </script>
        <input type="hidden" class="fail" value="@ViewBag.LoginError" />
    }
</div>
<div id="ajax--load">

</div>
<script src="~/Content/Script/Function.js"></script>
<script>
    AOS.init();
    $(document).ready(function () {
        $("#ajax--load").load("Index", "Account");
    });
</script>
<script src="~/Content/Script/message.js"></script>
