@model List<Jewelly.Models.News>
@{
    ViewBag.Title = "News";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2 class="title--admin">News</h2>
<hr class="mx-5" />
<div class="search--group">
    <form action="/Admin/HomeAdmin/News" method="post">
        <input type="text" placeholder="Email" name="search" class="form-control btn--search btn--search--inquiry" />
        <input type="submit" class="btn btn-primary btn--submit--admin btn--submit--inquiry btn--search--news" value="Search" />
    </form>
</div>
<hr class="mx-5" />
<div class="container container--left">
    <div class="row">
        <div class="col-md-12">
            <table class="table _gold">
                <thead>
                    <tr>
                        <td class="text--table">Id</td>
                        <td class="text--table">Email</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text--table">@item.news_ID </td>
                            <td class="text--table">@item.NGmail</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

