
@{
    ViewBag.Title = "Preserve";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid ju">
    <h1 class="text6">
        LEARN ABOUT THE COLORS OF DIAMONDS
    </h1>
    <div class="pdlr-pearl">
        <p>
            Color – Color value is one of four international standards for diamond valuation, often called the 4C principle. <span class="text18">Natural Diamonds</span>  are usually transparent white. However, some Diamonds have strange and brilliant colors. So what is the principle of color formation in Diamond stone? How is color value evaluated and how does it impact diamond value? Join Kita Diamonds to study further in this article.
        </p>
        <b>
            “Color” – Color value of Diamond
        </b>
        <p>
            People often value diamonds based on color. The purer a natural diamond is, the higher its value. However, some diamonds have rare colors that make the stone more priceless than ever. According to the 4C principle set by the Gemological Institute of America (GIA), Diamond color values ​​are arranged according to the Alphabet. The scale will start with the letter D (meaning Diamond in English or Diamánti in ancient Greek) and end with the letter Z. Each color group will be denoted as separate letters to avoid confusion. confused.
        </p>
    </div>
    <div>
        <img class="ig2" lazy_src="~/Content/Image/News/kimcuongmaulá.jpg" src="lazy" />
    </div>
    <div class="pdlr-pearl">
        <p class="mt-3">
            The reason GIA developed this DZ color scale is because in the past, other classification systems were quite loose and inaccurate. These include the alphabets A, B, C or Arabic numerals (0, 1, 2, 3) and Roman numerals (I, II, III). These classification systems are inconsistent and inaccurate. So GIA created a new, better rating scale.
        </p>
        <p>
            The color value of Diamonds according to GIA is divided into the following groups:
        </p>
        <p>
            - Colorless (D, E, F): colorless, pure white<br />
            - Near Colorless (G, H): Colorless title, rare white<br />
            - Near Colorless Slightly Tinted (I, J): Almost colorless, off-white<br />
            - Faint Yellow (KM): Very pale yellow<br />
            - Very Light Yellow (NR): Yellow seal<br />
            - Light Yellow (SZ): Light yellow<br />
            - And there is also the Fancy group: Colored Diamonds. This type of Diamond is also divided into: Fancy Light, Fancy, Fancy Dark, Fancy Deep, Fancy Intense, Fancy Vivid...<br />
        </p>
    </div>
    <div>
        <p class="pdlr-pearl">
            <b>
                Natural diamond color is formed by what influence?
            </b>
        </p>
        <p>
            <b> We have known Diamond</b> colors from common to rare. But what is the cause of diamond color formation?
        </p>
        <p>
            <b>Causes of Diamond color</b>
        </p>
        <p>
            Substitution of atoms in the Diamond crystal lattice.
        </p>
        <p>
            Defects created by radioactive particles affect the exposure and radiation process of Diamond stone, thereby causing selective light absorption.

        </p>
        <p class="pdlr-pearl">
            <b>Crystal deformation:</b> Due to pressure inside the earth, the Carbon atoms in the Diamond crystal lattice slide out of position, creating "slip planes". These planes damage the integrity of the natural Diamond structure and change the way the Diamond stone absorbs light, making the stone more selective in absorbing and transmitting wavelengths (colors). light.
            <br /> <b>Mineral inclusions: </b>The density of minerals in the stone also creates the color of Diamond.
        <p> <b>Natural diamond color formation</b></p>
        <br /><b class="pdlr-pearl">- White Diamonds :</b> <p>These are diamonds formed under normal natural conditions. The process of being buried deep in the ground prevents the stone from being exposed to light, so it still retains its clear and pure color.</p>
        <br /><b class="pdlr-pearl">- Black Diamond : </b><p>Because the density of minerals (such as graphite, Pirite, Hematite) in the stone is so high that very little light passes through.</p>
        <br /><b class="pdlr-pearl">- Brown Diamond : </b><p>This is the most common color of natural Diamonds. Colors are plastically deformed and shifted in the Diamond crystal lattice to form wavy planes. Planes like this often contain a series of parallel colored bands called “grains,” and they are often brown.</p>
        <br /> <b class="pdlr-pearl">- Yellow Diamonds : </b><p>This is the second most popular color among colored Diamonds. This color is usually created by Nitrogen atoms replacing Carbon in the crystal lattice. This defect helps Diamond selectively absorb blue light and transmit yellow light. Yellow and brown diamonds can easily be found in natural diamond mines around the world.</p>
        <br /><b class="pdlr-pearl">- Purple Diamonds : </b><p>According to GIA research, purple diamonds often have H3 and N3 color centers, which affect the diamond color. Purple diamonds are mainly mined by ALROSA company.</p>
        </p>
        <img class="ig2" lazy_src="~/Content/Image/News/kimcuongmauden.jpg" src="lazy" />
    </div>
    <div>
        <p class="mt-3 pdlr-pearl">
            <b>- Violet Diamond :</b> <p>The rarest natural color of Diamond. This type of colored Diamond is created by the substitution of Carbon for Hydrogen in the crystal lattice. Violet Diamonds were found at the Argyle mine in Australia.</p>
        </p>
        <p>
            <b>- Blue Diamond : </b><p>This natural Diamond color is very rare and very difficult to find. It is created by the process of replacing Carbon atoms into Boron in the crystal lattice. Boron in Diamond causes selective absorption of red light and transmission of blue. Blue diamonds are found in the Premier mine, others in Brazil, India, Indonesia, Russia, Sierra Leone and South Africa.</p>
        </p>
        <p>
            <b>- Pink Diamond:</b>  <p>The formation mechanism is similar to red Diamond. Red wavelengths, when transmitted, when weakly selected, will produce a pink color. Pink diamonds are found at Argyle mine in Australia, Golconda mine in India, Lulo in Angola, Minas Gerais in Brazil, Williamson in Tanzania, Premier in South Africa, Lomonosov, Yakutia, Arkhangelsk mines in Russia...</p>
        </p>

        <p>
            <b>- Orange Diamond : </b><p>This is a very rare color in nature. Currently, it is not possible to determine the cause of the orange color in natural Diamond stones. The process of selecting blue light and selectively transmitting orange light creates this special color.</p>
        </p>
        <p>
            <b>- Red Diamonds :</b> <p>In nature, red is the extremely rare and most valuable color. This type of Diamond color is formed due to pressure deforming the Diamond crystal lattice, causing the formation of slip planes of displaced Carbon atoms. When light passes through, red wavelengths are selectively transmitted. Diamonds of this color are found in abundance in the Argyle mine in Western Australia and mines in Brazil.</p>
        </p>
        <img class="ig2" lazy_src="~/Content/Image/News/kimcuongmauxanh.jpg" src="lazy" />
        <p class="mt-3">
            <b>- Green Diamonds :</b> Similar to blue, green diamonds are very rare in nature. This Diamond color is often created by high-energy radiation emitted from nearby radioactive mineral particles, penetrating the Diamond. These radiations push carbon atoms out of their positions in the crystal lattice. This causes Diamond to selectively absorb red light and selectively transmit green. In addition, the formation of green color in Diamond stone is also a result of the presence of elements Nitrogen, Hydrogen or Nickel. Green diamonds are found in the Golconda mines in India, others in Brazil, Central African Republic, Guyana, Russia, South Africa and Zimbabwe.
        </p>
        <div class="pdlr-pearl">
            <b>
                Value of colored diamonds
            </b>
            <p>
                The most popular diamonds are in the D - Z color group. It has average value and is affordable for many people. For the Fancy group - Colored Diamonds are at a new level of value. Colored Diamonds are a rare combination of compounds in <span class="text18">natural Diamond</span> stones . It contributes to increasing the rare beauty and is cared for and sought after by many people. Diamond color can make a big difference in value. Rare colored natural diamonds sell for millions of dollars per carat or are even priceless.
                <br />
                Brown, gray and black diamonds are reasonably priced. Although these types of colored Diamonds are quite rare, they are still considered at a moderate price range. Yellow Diamonds are rarer than brown, gray and black Diamonds. The bright and radiant color makes yellow Diamonds the most popular. This type of Diamond is worth about 5000 - 10,000 Dollars per carat. Blue, green and pink diamonds will become much rarer. And it will be even more difficult to find red, orange and purple diamonds. These colors range in value from hundreds of thousands to millions of dollars per carat.
            </p>
            <img class="ig2" lazy_src="~/Content/Image/News/kimcuongmauxanh1.jpg" src="lazy" />
        </div>
        <div class="pdlr-pearl">
            <p class="mt-3">
                Diamond color and clarity
            </p>
            <p>
                The value of colored diamonds is also evaluated through color saturation and color uniformity throughout the gem. Besides, Carat (Weight value), Clarity (Purity value), Cut (Cut value) are also important factors. Natural Color Diamonds found in nature are very rare and are many times more valuable than white Diamonds (colorless Diamonds).
            </p>
            <p>
                However, on the market there are also Artificial Colored Diamonds, which are Diamonds that are chemically absorbed into Natural Diamonds to give them the desired color and value of non-Artificial Diamonds. Similar to Natural Color Diamonds.
            </p>
            <p>
                Hopefully, the information that Kita Diamonds brings will help you better understand Diamond color and the formation of colored Diamonds in nature. Customers can come directly to Kita Diamond Company's Showroom to admire and choose natural Diamonds and Diamond jewelry officially imported from Belgium. Kita Diamonds COMMITS to only providing natural diamonds that meet 4C standards, have inspection certificates and clear product origin. For further details please contact:
            </p>
        </div>
    </div>
</div>
<script>
    AOS.init();
    function load(img) {
        const url = img.getAttribute('lazy_src')
        img.setAttribute('src', url);
        img.removeAttribute('lazy_src');
    }
    function ready() {
        if ('IntersectionObserver' in window) {
            var lazyimg = document.querySelectorAll('[lazy_src]')
            let obsesr = new IntersectionObserver(entries => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        load(entry.target)
                    }
                })
            });
            lazyimg.forEach(img => {
                obsesr.observe(img)
            })
        } else {

        }
    }
    document.addEventListener('DOMContentLoaded', ready)
</script>

