
@{
    ViewBag.Title = "Pearl";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div>
        <h1 class="text6">How to choose beautiful pearl jewelry</h1>
        <h1 class="text10">HOW TO CHOOSE PEARL JEWELRY</h1>
        <b class="pdlr--pearl">Choose pearl jewelry </b>
        <p class="mt-3">
            - Good pearls must have no blemishes and must be iridescent, bright and smooth.
        </p>
        <p>
            - To identify real pearls, you just need to take two pearls and rub them together, real pearls will erode and fall out of powder, wipe the powder away, the pearl will still be bright and shiny.
        </p>
        <p>
            - Additionally, you can test pearls with fire like testing gold.
        </p>
    </div>
    <div class="contarner">
        <img class="img-pearl" lazy_src="~/Content/Image/News/ngoctraitrong.jpg" src="lazy" />
    </div>
    <div class="pdlr--pearl">
        <p>
            If after the fire testing steps, the jade is not scratched and is still shiny, then you can rest assured that you have made the right choice.
        </p>
        <p>
            - However, you need to be careful when wearing to avoid letting perfume get on the pearls because it will reduce their shine.
        </p>
        <p>
            Today, in addition to traditional pearl strings, there are also extremely delicate combinations of pearls and gold, silver, or other precious stones, with extremely diverse and rich designs to suit your needs. serving the aesthetic needs of women.
        </p>
        <b>
            1. Short or long?
        </b>
        <p class="mt-3">
            Short necklaces and small pearls are more suitable for young people. A short strap that hugs your neck or falls gently down your chest will accentuate   your slim figure and smooth youthful skin. It should also be noted that short necklaces are suitable for long necks and vice versa, long necklaces are suitable for short, thick necks.
        </p>
        <p>
            In addition, long bracelets can be strung more elaborately to make an impression and are more economical because they can be worn in many different ways depending on the occasion.
        </p>
        <b>
            2.Big or small?
        </b>
        <p class="mt-3">
            If you have a beautiful neck, boldly choose small pearl necklaces. Pearls with a diameter of 6mm - 7mm are suitable for women around 20 - 30 years old. It creates a gentle, simple, unobtrusive feeling.
        </p>
        <p>
            Pearl bracelets 8mm - 9mm bring a feeling of nobility and success, so they are most suitable for women in their mid-30s to mid-40s.
        </p>

        <p>
            Pearl bracelets with large beads diameters, from 9m - 10mm, are expensive and rare. It is often worn by wealthy and elderly women.
        </p>
        <b>
            3. Luster A
        </b>
        <p class="mt-3">
            pearl's surface has a high gloss, indicating that the pearl has a thick layer of nacre. A precious gem is a pearl that is evenly shiny and has few blemishes. The standard luster of pearls is classified into four levels. The ideal are those with bright, sharp and clear radiation. Next is the type with bright but not sharp light, slightly blurred around the edges. Third class is the form with weak, blurry and unclear mapping. The worst are the pearls with dim reflection.

        </p>
        <b>
            4. Choose pearls for your skin
        </b>
        <p class="mt-3">
            White pearls are often suitable for white skin. If you have brown or dark skin, you should choose dark pink, orange or dark pink pearl jewelry. Choose pearls that are consistent in color and style from the manufacturer for peace of mind. quality as well as easier outfit coordination.
        </p>
        <p>
            According to current trends, pearls are combined with crystals, colored stones and white gold with many sophisticated designs.
        </p>
        <b>
            5. What shirt should I wear with it?
        </b>
        <p class="mt-3">
            Pearl bracelets can be combined with any type of outfit, but usually short bracelets are more convenient. Short pearl necklaces can be worn with T-shirts and jeans as well as fabric clothes. Long bracelets are often more suitable for dresses and are usually only worn on special occasions.
        </p>
        <p>
            Pearls are suitable for classic, luxurious style. Therefore, costumes made of silk, satin, velvet... will enhance the beauty of jewelry.
        </p>
        <p>
            To make it more impressive, you can choose a ring with multiple strings to create multiple layers of rings. This type of bracelet is usually worn around the neck and usually consists of three or more strings. In general, the easiest to wear and the easiest to combine with outfits are classic pearls.
        </p>
        <b class="mt-3">
            6. Which color is okay?
        </b>
        <p class="mt-3">
            In terms of color, creamy white is always the most classic and gorgeous. Rose pearls look vibrant and romantic and also suit many skin tones. In general, light skin goes well with white pearls while dark skin goes better with pink or black pearls.
        </p>
        <p>
            White pearls are even easier to match with skin colors and outfits. Women over 40 years old, using white pearl jewelry will look more youthful.
        </p>
        <p>
            Multicolored pearls with irregular shapes are also a new trend. Prom nights or luxurious parties will be an opportunity to show off the sparkling beauty of pearls and the magical charm of women. With the harmony of pearls and gold, the designers' idea is to create a luxurious and elegant beauty.
        </p>
        <div class="contarner pdlr--pearl">
            <img class="img-second" lazy_src="~/Content/Image/News/ngoctraitrong2.jpg" src="lazy" />
        </div>
        <p class="mt-3">
            A string of pale pink pearls will make friends with an evening dress or a pure bridal dress. Will give you a gentle and feminine beauty. The black pearls are bright and attractive in the shape of the earrings, highlighting and brightening the face of a girl with pinkish white skin.
        </p>
        <p>
            Pearls can be embedded in all types of accessories but still do not lose their value and beauty. In necklaces, bracelets, earrings or rings, pearls can still stand out. That luxury is a testament to the skillful shaping and shaping process of jewelers to create that precious product.
        </p>
        <p>
            What do you think, if these jewelry are too much for you then hurry up, the idea of ​​a jewelry in your mind right now will help you. Pearls can be embedded in all types of accessories but still do not lose their value and beauty.
        </p>
        <h1 class="text10">How to choose and preserve pearl jewelry </h1>
        <p>
            Pearls are a type of jewelry favored by women. However, not everyone knows how to choose the right pearl, the right value, and how to preserve it to prolong the life of this special type of jewelry.
        </p>
        <p>
            As a professional unit with seniority in the pearl farming and processing industry, Royal Pearl Company will share useful information about choosing and preserving pearl jewelry.
        </p>
        <p>
            In the Vietnamese market today, consumers often cannot distinguish between seawater and freshwater cultured pearls, while their value can vary up to 10 times.
        </p>
        <p>
            Brightness (lustre)
        </p>
        <p>
            Luster is an important standard in evaluating the quality of a pearl, through the level of light reflection on the pearl shell. The brightness of the pearl is determined by the quality of the nacre layer as well as the thickness of the covering layer. This is greatly influenced by technique, farming time and the type of mussels being cultured.
        </p>
        <p>
            Clear examples of luster can be found in blue-black Tahitian mussels, or golden-hued South Sea mussels. The luster of these pearls is easy to distinguish and enhances the characteristic colors on the layer. its mother-of-pearl luster.
        </p>
        <p>
            Color
        </p>
        <p>
            The color of pearls can be temporarily divided into 2 groups: light color group (silver, white, lemon yellow, gold emulsion) and dark color group (blue black, lead black, gray). Choosing the color of a gem depends on personal preference and does not reflect the quality of the gem. However, due to the characteristics of some pearl varieties in special sea areas that can produce strange and rare pearl colors, the value of pearls can vary quite greatly for these colors. For example, the lead black or green color of Tahitian jade, this color is only raised and developed mostly in the French island nation of Tahiti.
        </p>
        <p>
            Shape
        </p>
        <p>
            The shape of the gem plays an important role in determining value. Pearls can be divided into basic groups: round, oval, teardrop, bulb, deformed.
        </p>
        <p>
            From ancient times until now, the standard of a pearl is its flawless roundness. But under the creativity of artisans, irregularly shaped gems sometimes create unique and personalized jewelry designs.
        </p>
        <p>
            Surface
        </p>
        <p>
            The surface of the pearl is also a characteristic that helps confirm its value; even a few small blemishes on the surface will reduce its overall value and beauty.
        </p>
        <p>
            Size
        </p>
        <p>
            The size of a gem is measured by its diameter in mm. The gem will be valued primarily based on this criterion. For some gems, a few millimeters of difference can result in a huge difference in value of 100 to 200%.
        </p>
        <p>
            Preserve
        </p>
        <p>
            The first thing that should be noted is the properties of pearls, which themselves are an organic gemstone, created from the body of a living organism. Therefore, to maintain beautiful brightness and prolong the life of jade, you need to isolate jade from active ingredients containing chlorine, acids in fresh fruits, chemicals in perfumes, cosmetics... and avoid leaving them exposed. jade near places with too high temperatures.
        </p>
        <p>
            You should also be careful when storing. Pearls should be kept in a soft cloth bag, avoiding direct friction with hard surfaces that can easily scratch the outer shell, affecting the brightness and beauty of the pearl. In general, during use, you should minimize contact with soap, perfume, dishwashing liquid... In case you accidentally expose your pearl to the above chemicals, you need to Quickly rinse thoroughly under clean running water and dry with a soft towel.
        </p>
        <div class="pdlr--pearl">
            <h1 class="text10">How to choose beautiful pearls in spring</h1> <br />
            <p>With its completely natural beauty and vibrant, shimmering pearl surface,  sea pearls  always dominate the jewelry cabinets of successful women.</p>
            <p> The last days of winter and early spring are the time when fashionistas add new jewelry designs to their collections, because this is not only the time of changing seasons but also the transition between the old year and the new year. with exciting and joyful holidays.</p>
            <p>
                Sea pearl jewelry   has taken the throne in the fashion world this year, with diverse combinations of styles and colors. Sea pearls have a unique beauty with natural colors containing millions of living cells that create a perfect surface that reflects a sparkling rainbow. With its completely natural beauty and shimmering vivid pearl surface,  sea pearls  always dominate the jewelry cabinets of successful and noble women. World stars have chosen  pearls  for special occasions. Make your appearance more radiant and impressive:
            </p>
            <p>
                Selena with double pearl necklace jewelry
            </p>
            <p>
                Women always choose pearl jewelry
            </p>
            <b>
                To choose sea pearls of the right origin and value, you need to master the following secrets:
            </b>
            <p class="mt-3">
                1. Distinguish  sea pearls  from freshwater pearls and  fake pearls  (plastic, or artificial powdered pearls) by 6 basic factors: shine, color, shape, pearl surface, size, pearl thickness.
            </p>
            <p class="mt-3">
                2. Inspect pearls using a radial X-ray inspection system to help see the pearl nucleus. This helps you know whether it is  a sea pearl  or not, measure the thickness of the nacre layer and can even predict the culture time of each pearl.
            </p>

            <p class="mt-3">
                3. Look to buy from brands that specialize in  pearls and have experience in exporting pearls to developed countries such as the US, Europe, Japan, France...
            </p>
            <p class="mt-3">
                4. A pearl brand   with a closed process from culturing to processing with large farms and factories specializing in pearls is a guarantee of pearl quality and design. Because in addition to quality requirements, pearls are also meticulously crafted, requiring artisans to be skilled and meticulous in every detail to be able to produce   splendid pearl jewelry models without damaging them. damage the value of the pearl.
            </p>
            <p>
                Southsea pearls with brilliant golden color
            </p>
            <p>
                The famous black color of Tahitian pearls
            </p>
            <p>
                In the cold weather at the end of the year, vibrant color palettes and the sparkle of  pearl jewelry  will help you dispel the gloom of the icy winter, "lighting up" the atmosphere at the end of the year to make it more warm and fresh. Happy, welcome a new spring.
            </p>
        </div>
    </div>
</div>
<script>
    AOS.init();
    function load(img) {
        const url = img.getAttribute('lazy_src')
        img.setAttribute('src', url);
        img.removeAttribute('lazy_src');
    }
    function ready() {
        if ('IntersectionObserver' in window) {
            var lazyimg = document.querySelectorAll('[lazy_src]')
            let obsesr = new IntersectionObserver(entries => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        load(entry.target)
                    }
                })
            });
            lazyimg.forEach(img => {
                obsesr.observe(img)
            })
        } else {

        }
    }
    document.addEventListener('DOMContentLoaded', ready)
</script>

