
@{
    ViewBag.Title = "PinkDia";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <h1 class="text6 pdlr--pearl">
        Pink Diamond : Shortage to Exhaustion in a Few Years
    </h1>
    <div class="container ">
        <p class="container-fluid pdlr--pearl">
            What makes a diamond's actual value? A lot goes into deciding the value of a diamond <span class="text16">or</span> other gemstone. But the clearest and most specific deciding factors are beauty and scarcity.
        </p>
        <img class="ig" lazy_src="~/Content/Image/News/kimcuonghongtrong.jpg" src="lazy" />
    </div>
    <div>
        <p class="mt-3 pdlr--pearl">
            Diamonds with high scarcity and high search will often bring higher practical value.
        </p>
        <b class="pdlr--pearl">
            Pink Diamonds: A solid investment process for value
        </b>
        <p>
            In 2020, the value of an Argyle pink diamond skyrocketed over 20 years by more than 500%, outperforming all other bills and stocks on the stock market. And starting from the beginning, the diamonds mined from Argyle will become more and more valuable and grow stronger because this is the mine that mines 90% of the world's pink diamonds. mine closure – Creating scarcity for this type of pink diamond.
        </p>
        <p>
            It is important to note that pink diamonds are not only coveted just for their beauty but also for their rarity. Although it is believed that the pink color is the result of transformations within the rocks' original atomic lattice during their formation more than a billion years ago, geologists still face many mysteries related to this. regarding their production. Whatever the cause, the result is a stunning stone, pale pink to deep saturated pink and purple in color, boasting the inherent sparkle of a diamond.
        </p>
        <h1 class="text17">So what is the cost of the rarity and beauty of a pink diamond?</h1>
        <p>
            A diamond was auctioned by Sotheby's Auction, a sparkling purple pink diamond weighing more than 14 carats (14.83 carats) in November 2020, this diamond created a huge explosion for the mining industry. diamonds at a record price of up to 26.6 million USD - equivalent to 627 billion VND. This is the world's largest pink diamond ever auctioned. And for such a large and expensive diamond auction to appear, we have to wait a very long time or it will never happen.
        </p>
        <p>
            “Pink diamonds, perhaps more than any other colored diamonds, have captured the imagination of collectors for centuries,” said Gary Schuler, Worldwide Chairman of Sotheby's Jewelry Division. explain. He points out that pink diamonds represent five of the 10 most valuable diamonds ever sold at auction.
        </p>
        <p>
            “These exceptional sales, all made over the past decade, are testament to the growing appreciation and awareness of the great scarcity of these natural treasures around the world. And with the supply of these beautiful stones becoming increasingly limited, they are likely to continue to be even more prized. And certainly the closure of the Argyle mine will greatly change the value of colored diamonds and their market value will increase from 500% to 1,500% over the next 10 years.”
        </p>
        <p>
            Long before the mine closed, Argyle's precious pinks were difficult to come by – especially gems over a carat in size. While the mine produced more than 865 million carats of rough diamonds over its 37-year life, only 0.13% of the cache was pink of high enough quality to be offered in the annual Argyle Pink Diamond Tender. ; A year's worth of Argyle pink diamonds measuring more than half a carat could fit in the palm of your hand. With so little precious pink, the Argyle mine supplied its annual supply of gems (usually around 60 diamonds) to an exclusive group of 100 invitation-only dealers, collectors and jewelers, who are invited to place them with sealed bids. A thrilling process, it proved the only fair way to distribute the coveted stones among a large group of would-be buyers around the world.
        </p>
        <h1 class="text17 pdlr--pearl">
            Why are pink diamonds so sought after and so valuable?
        </h1>
        <p>
            One of the Argyle mine's longtime buyers is LJ West, a New York jeweler who began bidding on pink diamonds in 1990. His company purchased a rare 4-carat fancy pink diamond. (the biggest pink bid), days after 9/11, when the market was uncertain, Scott West, an owner of the company, recalls. Since that time, prices have skyrocketed, and he expects that trajectory to continue.
        </p>
        <div class="container">
            <img class="ig1" lazy_src="~/Content/Image/News/kimcuonghongtrong1.jpg" src="lazy" />
            <p>
                “Because Argyle pink diamonds are both beautiful and rich in history and meaning, I think these diamonds will capture the imagination of collectors for generations, especially after when the mine closed.
            </p>
        </div>
        <div>

            <h1 class="text17 pdlr--pearl"> The pioneering path of natural pink diamonds</h1>
            <p>
                The story of the Argyle mine is legendary. Before its discovery, most people had never laid eyes on a colored diamond, or even knew they existed. For many years, they were so rare and expensive that they were traded between only a few hands. That is, until the Argyle mine was discovered, and all sorts of small-sized roses were produced and marketed, increasing their accessibility to jewelry designers.
            </p>
            <p>
                The fact that Rio Tinto, the mine owner, even discovered a pink diamond mine is remarkable. Robyn Ellison, Director of Communications at Rio Tinto Diamonds, said: “Fifty years ago, few people would have believed that diamonds could be found in Australia.
            </p>
            <img class="ig1 ig2" lazy_src="~/Content/Image/News/kimcuonghongtrong2.jpg" src="lazy" />
            <p>
                Although diamonds were actually first discovered in Australia in the 1850s, it took more than a century for the search to begin again. In the early 1970s, geologists began exploring a remote region of Western Australia roughly the size of Texas. After seven years of searching, they finally discovered four small diamonds in a dry creek bed leading to the Argyle mine in 1979.
            </p>
        </div>
        <div class="container-fluid">
            <h1 class="text17 pdlr--pearl">
                What's next for the sought-after and coveted natural pink diamonds?
            </h1>
            <p>
                There were heroic efforts to build the mine's infrastructure and develop new technology and processes to bring the mine into operation. Alluvial mining began in 1983, and two years later they began open pit mining. By 2013, Argyle was a completely underground Operation. The last truck carrying rough stone left the mine on November 3 this year.
            </p>
            <p>
                Those lucky enough to be invited to bid on the penultimate Argyle Pink Diamond Tender in early December 2020, will have the coveted opportunity to purchase the stone direct from the mine, potentially at a record price. Ranging from pink to purple to blue to purple – pink to red, the diamonds for sale include 62 polished pink diamonds, 21 of which are over one carat and three of which are over two carats, along with 12 curated sets of miniature Argyles. Additionally, the hero stones of this collection include the Argyle Eternity, a 2.24-carat fancy vivid purple-pink round diamond, and the Argyle Ethereal, a fancy intense pink-purple square cut 2.45 carats.
            </p>
            <p>
                One year later, the Argyle Pink Diamonds Tender 2021 will be the final offering based on the finest pinks from 2020 production. The mine may be depleted, but Argyle pink diamonds will remain a coveted collector's item wanted for generations to come, in the same way that the Golconda mine's name lived on as the world's best source of colorless diamonds even decades after the mine was depleted and closed.
            </p>
            <p>
                Therefore, the increase in value will also come with an unfortunate shortage for humanity when gradually colored diamonds are being fully exploited to serve many different human purposes.
            </p>
            <p>
                Visit Tam Luxury for more information about diamonds as well as diamond knowledge!
            </p>
        </div>
    </div>
</div>
<script>
    AOS.init();
    function load(img) {
        const url = img.getAttribute('lazy_src')
        img.setAttribute('src', url);
        img.removeAttribute('lazy_src');
    }
    function ready() {
        if ('IntersectionObserver' in window) {
            var lazyimg = document.querySelectorAll('[lazy_src]')
            let obsesr = new IntersectionObserver(entries => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        load(entry.target)
                    }
                })
            });
            lazyimg.forEach(img => {
                obsesr.observe(img)
            })
        } else {

        }
    }
    document.addEventListener('DOMContentLoaded', ready)
</script>

